/*
Theme name: Ailes de Cire
Author: Lucas Chevallier
Version: 0.1
*/
/* Start Fonts */
@font-face {
    font-family: "Avenir Book";
    src: url("http://localhost:8000/wp-content/themes/AilesdeCire/fonts/AvenirLTStb-Book.otf") format("otf");
}
@font-face {
    font-family: "Futura Book";
    src: url("http://localhost:8000/wp-content/themes/AilesdeCire/fonts/Futura-Book-font.ttf") format("truetype");
}
/* Start GLOBAL */
body {
    font-family: "Futura Book";
}
h1, h2, h3 {
    font-family: "Futura Book";
}
.container ul {
    list-style: none;
}
.container li::before {
    content: "‣";
    padding-right: 1rem;
}
.fa-facebook-square{
    font-size: 28px;
}
.fa-instagram {
    font-size: 30px;
}
.img-responsive {
    width: 100%;
    height: auto;
}
.top-navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: absolute;
    z-index: 9999;
    width: 100%;
}
.top-navbar .nav-link {
    color: white !important;
    font-family: "Futura Book";
    font-size: 19px;
    font-weight: 600;
    margin-left: 2rem;
    text-transform: uppercase;
    padding-top: 22px;
    padding-bottom: 22px;
}
.top-navbar .nav-link:hover {
    text-decoration: underline;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border: none;
}
.navbar-brand img {
    position: absolute;
    top: 5px;
    height: 150px;
    width: 150px;
}
@media screen and (max-width: 991px) {
    .top-navbar {
        background-color: rgba(0, 0, 0, 0) !important;
        padding-top: 20px;
    }
    .top-navbar .nav-link {
        font-size: 15px;
        padding-top: 1rem;
        padding-bottom: 0;
    }
    .navbar-collapse {
        padding-top: 1.5rem;
    }
    .navbar-brand img {
        width: 75px;
        height: 75px;
    }
    h1 {
        font-size: 2rem;
    }
}
footer {
    margin-top: 8rem;;
}
#footer {
    background-color: rgba(0, 0, 0, 0.5);
}
#footer .nav-link {
    color: white;
}
#footer .nav-link:hover {
   text-decoration: underline;
}
#bottom-footer {
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
}
header {
    position: relative;
    margin-bottom: 4rem;
}
.title-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    text-align: center;
}
@media screen and (min-width: 767px) {
    .creations {
        left: 38% !important;
    }
    .cours {
        left: 61% !important;
    }
    .compagnie {
        left: 34% !important;
        top: 48% !important;
    }
    .trainings {
        left: 57%;
        top: 63%;
    }
    .actualites {
        left: 37%;
        top: 54%;
    }
}
.btn-outline-primary {
    color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
}
.btn-outline-primary:hover {
    color: white;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
}
.form-control:focus {
    border-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 .2rem rgba(0,0,0,.25);
}
.btn-outline-primary:focus, .btn-outline-primary:active {
    border-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 .2rem rgba(0,0,0,.25);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: white;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
}
/* Start front-page.php */
#home-carousel {
    margin-bottom: 8rem;
}
.home-square {
    width: 320px;
    height: 250px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    flex-wrap: wrap;   
}
.home-square, a:hover {
    text-decoration: none;
}
.home-square::after {
    content: "";
    width: 320px;
    height: 250px;
    background-color: rgba(71, 71, 71, 0);
}
#home-identity {
    background-image: url("http://localhost:8000/wp-content/uploads/2020/06/qui_sommes_nous.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#home-identity:hover::after {
    background-color: rgba(71, 71, 71, 0.74);
    content: "Qui sommes-nous ?";
    color: white;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 1s;
    
}
#home-actuality {
    background-image: url("http://localhost:8000/wp-content/uploads/2020/06/actualite.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#home-actuality:hover::after {
    background-color: rgba(71, 71, 71, 0.74);
    content: "Notre actualité";
    color: white;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 1s;
}
#home-action {
    background-image: url("http://localhost:8000/wp-content/uploads/2020/06/nos_objectifs.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#home-action:hover::after {
    background-color: rgba(71, 71, 71, 0.74);
    content: "Nos actions";
    color: white;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 1s;
}
@media screen and (max-width: 767px) {
    #home-identity:hover::after {
        font-size: 16px;   
    }
    #home-actuality:hover::after {
        font-size: 16px;   
    }
    #home-action:hover::after {
        font-size: 16px;   
    }
}
@media screen and (max-width: 575px) {
    #home-identity:hover::after {
        font-size: 22px;   
    }
    #home-actuality:hover::after {
        font-size: 22px;   
    }
    #home-action:hover::after {
        font-size: 22px;   
    }
}

